<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/aaronlcope/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="aaroncope@gmail.com" />
            <add key="ClearTextPassword" value="8dea050378efcf35b279b2cc67beaf5b7e74fc4c" />
        </github>
    </packageSourceCredentials>
</configuration>